<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource" 
				users-by-username-query="SELECT U.username, U.password, 1 FROM users U where U.username = ?"
				authorities-by-username-query="SELECT U.username, A.authority FROM users u join authorities A ON A.id_authorities = U.id_authorities where U.username = ?"/>
		</authentication-provider>
	</authentication-manager>

	<http pattern="/login.jsp" security="none" />
	<http pattern="/index.html" security="none" />

	<http auto-config="true">
		<form-login login-page="/login.jsp" default-target-url="/index.html"
			always-use-default-target="true" />
		<logout logout-success-url="/index.html" />
		<intercept-url pattern="/secure/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/secure/**" access="ROLE_AUTHENTICATED" />
	</http>

</beans:beans>
