<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<beans:bean id="authenticationManager"
		class="org.springframework.security.authentication.ProviderManager">
		<beans:property name="providers">
			<beans:list>
				<beans:ref local="daoAuthenticationProvider" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean
		class="org.springframework.security.authentication.dao.ReflectionSaltSource"
		id="saltSource">
		<beans:property name="userPropertyToUse" value="username" />
	</beans:bean>
	
	<beans:bean class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" id="passwordEncoder"/>

	<beans:bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDAO" />
		<beans:property name="saltSource" ref="saltSource" />
		<beans:property name="passwordEncoder" ref="passwordEncoder" />
	</beans:bean>


	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="sha-256">
				<salt-source ref="saltSource" />
			</password-encoder>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT U.username, U.password, 1 FROM users U where U.username = ?"
				authorities-by-username-query="SELECT U.username, A.authority FROM users u join authorities A ON A.id_authorities = U.id_authorities where U.username = ?" />
		</authentication-provider>
	</authentication-manager>

<http pattern="/login.jsp" security="none" />

	<http auto-config="true">
		<form-login login-page="/login.jsp" default-target-url="/index.html"
			always-use-default-target="true" authentication-failure-url="/login.jsp?login_error=1"/>
		<logout logout-success-url="/index.html" />
		<intercept-url pattern="/secure/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/secure/**" access="ROLE_AUTHENTICATED" />
	</http>

</beans:beans>
