<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <beans:property name="userPropertyToUse" value="login" />
    </beans:bean>
	
	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>

	<beans:bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userService" />
		<beans:property name="saltSource" ref="saltSource"/>
		<beans:property name="passwordEncoder" ref="passwordEncoder"/>
	</beans:bean>
	
	<authentication-manager>
		<authentication-provider ref="daoAuthenticationProvider"/>
	</authentication-manager>
	
	<!--<authentication-manager >
		<authentication-provider/>
		<authentication-provider >
			<password-encoder hash="sha-256"/>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT U.login, U.password, 1 FROM users U where U.login = ?"
				authorities-by-username-query="SELECT U.login, A.authority FROM users u join authorities A ON A.authority_id = U.authority_id where U.login = ?" />
		</authentication-provider>
	</authentication-manager>-->

	<http pattern="/login.jsp" security="none" />

	<http auto-config="true">
		<form-login login-page="/login.jsp" default-target-url="/index.html"
			always-use-default-target="true" authentication-failure-url="/login.html?login_error=1"/>
		<logout logout-success-url="/index.html" />
		<intercept-url pattern="/secure/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/secure/**" access="ROLE_AUTHENTICATED" />
	</http>

</beans:beans>
