html {
	background: url("../images/bg.jpg") no-repeat center bottom fixed;
	background-size: 100%;
}

body {
	width: 1000px;
	text-align: justify;
	border: 1px solid #aaa;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #555;
	padding: 30px;
	margin: -10px auto 50px;
	text-align: justify;
	background-color: #fff;
}

a,a:visited {
	color: #774b00;
	text-decoration: none;
}

a:hover {
	color: #b77400;
	text-decoration: underline;
}

header {
	width: 100%;
	display: table;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #aaa;
}

header h1 {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 100%;
	height: 100%;
}

#logo {
	width: 170px;
	display: table-cell;
}

#logo img {
	border: 0;
	width: 170px;
}

#logininfo {
	min-width: 170px;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

aside {
	float: left;
	width: 150px;
	margin: 20px 0px 10px 0px;
	padding-right: 20px;
	border-right: 1px solid #aaa;
}

aside ul {
	margin: 0;
	padding: 0;
}

aside li {
	list-style: none;
	margin: 10px 0px;
	width: 100%;
}

aside a,.button {
	border: 1px solid #aaa;
	padding: 3px;
	border-radius: 10px;
	background-color: #ddd;
	display: block;
	text-align: center;
}

aside a {
	width: 100%;
}

aside a:hover,.button:hover {
	background-color: #eee;
	text-decoration: none;
}

.button {
	display: table-cell;
}

.selected {
	background-color: #fff
}

.buttonRow {
	display: table;
	width: 100%;
}

footer {
	clear: left;
	width: 100%;
	margin-top: 50px;
	text-align: center;
	font-size: 70%;
}

nav {
	margin-bottom: 20px;
}

nav a {
	
}

.content {
	margin-left: 170px;
	padding: 20px 0px 20px 20px;
	border-left: 1px solid #aaa;
}

.error {
	color: #ff0000;
	font-style: italic;
	text-align: center;
	background-color: #eee;
	border: 1px solid #aaa;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
}

.loginbox {
	width: 250px;
	background-color: #ddd;
	border: 1px solid #aaa;
	padding: 10px;
	border-radius: 10px;
	margin: auto;
}

.loginbox input[type=text],.loginbox input[type=password] {
	width: 240px;
}

.box {
	background-color: #ddd;
	border: 1px solid #aaa;
	padding: 10px;
	border-radius: 10px;
	margin: auto;
	display: table;
}

.box>div {
	display: table-row;
}

.box>div label,.box>div input {
	display: table-cell;
}

.box>div select {
	width: 100%;
}

.box>div label {
	padding-right: 10px;
}

table {
	background: #ddd;
	width: 100%;
	margin: 20px;
	border: #aaa 1px solid;
	border-radius: 10px;
	margin: 20px auto;
}

table th {
	padding: 4px 10px;
}

table td {
	background: #fff;
	padding: 2px 10px 4px 10px;
}

table tr.even td {
	background: #eee;
}

table tr:first-child td:first-of-type {
	border-top-left-radius: 10px;
}

table tr:first-child td:last-of-type {
	border-top-right-radius: 10px;
}

table tr:last-child td:first-of-type {
	border-bottom-left-radius: 10px;
}

table tr:last-child td:last-of-type {
	border-bottom-right-radius: 10px;
}

.numeric {
	text-align: right;
	width: 120px;
}

.negative {
	color: #ff0000;
}

.positive {
	
}